* {
    color: black;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #f8f8f8;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header h1 {
    color: orangered;
    margin: 0;
    font-size: 2.5em;
}

header span {
    font-size: 1em;
}
header p {
    margin: 10px 0;
    font-style: italic;
}

nav {
    margin-top: 30px;
    text-align: right;
    padding-left: 20px;
    padding-right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav button {
    margin: 0 5px;
    padding: 6.25px 10px;
    font-size: 1em;
}

.search {
    padding: 5px 20px;
    display: flex;
    margin-right: auto;
}

.search input {
    padding: 0 20px;
    font-size: 1em;
    width: 300px;
}

.search button {
    font-size: 1em;
    padding: 5px 10px;
}

main {
    display: flex;
    flex-direction: column;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px 20px;
    margin: 0;
}

.categories button {
    flex: 1 1 150px;
    padding: 50px 20px;
    margin-right: 20px;
    font-size: 2em;
    max-width: 200px;
    min-width: 150px;
}

.bottom-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

aside {
    padding: 10px;
    margin-top: 20px;
    margin-right: 50px;
    display: inline-flex;
    flex-direction: column;
    width: 30%;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
.challenges, .leaderboard {
    width: 100%;
    border: 2px solid #536493;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
}

h2 {
    text-align: center;
}

.results {
    padding: 0 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sort-table{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    width: 100%;
}

.filters {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}

.filters button,
.filters select {
    margin-right: 10px;
    padding: 5px;
    font-size: 1em;
}

.results table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0;
}

.results th, .results td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.favorite {
    color: red;
}

#search-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#search-container input {
    width: 60%;
    padding: 10px;
    font-size: 1em;
}

#search-container button {
    padding: 10px;
    font-size: 1em;
}

#results-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#results-container table {
    width: 80%;
    border-collapse: collapse;
}

#results-container th,
#results-container td {
    border: 1px solid #ddd;
    padding: 8px;
}

#results-container th {
    background-color: #f2f2f2;
    text-align: center;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
  }
  
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
form {
    display: flex;
    flex-direction: column;
  }
  
form label,
form input {
    margin-bottom: 10px;
  }
  
form button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
table {
    width: 100%;
    border-collapse: collapse;
}

th, td, tr {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    color: #333;
}

tr:hover {
    background-color: #f1f1f1;
}
